body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 50px;
   background-image: url(../img/terra.jpg);
   background-repeat: no-repeat;
}

header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}


h1{
   color: #00ccff;
}

form{
   display: flex;
   flex-direction: column;
}
form label{
   color: white;
   padding: 6px 0px;
   font-size: 18px;
}

form input, textarea{
   color: rgb(0, 0, 0);
   border-radius: 4px;
   font-size: 16px;
   padding: 5px 16px;
   border: 1px solid #999;
   box-shadow: 1px 2px #5a6363;
   background-color: rgba(155, 149, 149, 0.3);
}

form input:focus, textarea:focus{
   outline: 1px #565757 solid;
}

form select{
   padding: 5px 16px;
   border-radius: 4px;
   box-shadow: 1px 2px #5a6363;
   background-color: rgba(155, 149, 149, 0.3);
   color: rgb(0, 0, 0);
}


form select:focus{
   outline: 1px #565757 solid;
}

form textarea{
   height: 150px;
   resize: none;
}

::placeholder{
   color: rgb(0, 0, 0);
}

form button{
   align-self: flex-start;
   background: #00ccff ;
   border: 1px solid #999;
   border-radius: 3px;
   color: #fff;
   font-size: 16px;
   width: 100px;
   padding: 5px;
   transition: all .3s
  
}

.div-buttons{
   display: flex;
   column-gap: 30px;
}

#cadastrar:hover{
   background-color: #0399be;
   cursor: pointer;
}

#reset:hover{
   background-color: #bb2525;
   cursor: pointer;
}

.menu{
   float: right;
}

.menu a{
   text-decoration: none;
   font-size: 20px;
   margin: 12px 0px 0px 24px;
   color: #999;
}

a:hover{
   text-decoration: none;
   color: #0399be;
}